<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=750px,user-scalable=no">

    <link rel="stylesheet" href="/css/normalize.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/oauth_web_h5.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="/js/modernizr-2.0.6.min.js"></script>

</head>
<body>

<div>

    <div class="logo_header">
        <img src="/img/logo2x.png">
    </div> <!-- #main -->

    <div class="main-wrapper">

        <p style="margin-left: 30px;text-align: left;">$client_name将获取您的以下权限！</p>

        <div style="margin: 50px 100px 100px 100px;">
            <label style="color: #666666;">
                <input type="checkbox" checked="true" disabled="true">获取您的个人信息
            </label>
        </div>

        <form method="post" action="authorize" style="height: 380px;">

            <input type="text" name="action" value="authorize" hidden="true"/>
            <input type="text" name="page_type" value="h5" hidden="true"/>
            <input type="text" name="authkey" value="$authkey" hidden="true"/>
            <input type="text" name="authvalue" value="$authvalue" hidden="true"/>

            <div style="margin: 300px 30px 38px 30px;">
                <button type="submit" class="button btn-info button-h5" >确认授权</button>
            </div>

        </form>

    </div>
</div>

</body>
<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</html>

