<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config/>

    <!--<bean id="jacksonObjectMapper" class="com.fasterxml.jackson.databind.ObjectMapper">
        <property name="dateFormat" ref="messageDateFormat"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
    <bean id="contentManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="favorPathExtension" value="false"/>
        <property name="defaultContentType" value="application/beannote"/>
    </bean>
    <bean id="messageDateFormat" class="sample.war.HttpServiceDateFormat"/>
    <mvc:annotation-driven content-negotiation-manager="contentManager">
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.beannote.MappingJackson2HttpMessageConverter">
                <property name="prettyPrint" value="false"/>
                <property name="objectMapper" ref="jacksonObjectMapper"/>
            </bean>
        </mvc:message-converters>
        &lt;!&ndash;<mvc:argument-resolvers>
            <bean class="org.reststackteam.reststack.databind.LastModifiedMethodArgumentResolvers"/>
        </mvc:argument-resolvers>&ndash;&gt;
    </mvc:annotation-driven>-->

    <!--<mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="sample.war.HttpServiceContextHandler"/>
        </mvc:interceptor>
    </mvc:interceptors>-->

</beans>