<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户授权登录</title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/oauth_web.css">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div style="width:763px;margin: 0px auto;">
        <div style="margin-top: 135px;">
            <img src="/img/logo2x.png">
            <div style="float: right;padding-top: 35px;color:#999999;">没有账号请<label style="line-height: 25px; border-bottom: 2px solid #00a8e8; color: #00a8e8;font-size: 24px;">注册</label></div>
        </div>
        <div class="panel panel-default p-panel">
            <div class="panel-body" style="padding: 0px;">
                <h2 class="p-title">您将通过医指通账号来访问寻医问药官网！</h2>
                <form role="form" class="form-horizontal" method="post" action="authorize">

                    <input type="text" name="action" value="login" hidden="true"/>
                    <input type="text" name="client_id" value="$client_id" hidden="true" />
                    <input type="text" name="response_type" value="$response_type" hidden="true" />
                    <input type="text" name="redirect_uri" value="$redirect_uri" hidden="true" />

                    <div class="form-group">
                        <label class="col-sm-2">账号：</label>
                        <div class="col-sm-6">
                            <input type="text" name="user_account" class="form-control" value="7442602" placeholder="请输入电话号码/会员号"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2" style="color: #666666;">密码：</label>
                        <div class="col-sm-6">
                            <input type="password" name="user_password"  class="form-control" value="123456" placeholder="请输入登陆密码"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-info" style="padding:2px;background-color: #00a8e8;width:105px;font-size: 18px;margin-top: 35px;margin-left: 130px;">登 录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
<script>

</script>
</html>